<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/reserved_tickets</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.show_sql">true</property>

            <!--Включить автоматическое управление сеансом Hibernate-->
        <property name="hibernate.current_session_context_class">thread</property>


        <mapping class="com.reservation.entity.BaseEntity"/>
        <mapping class="com.reservation.entity.CinemaEntity"/>
        <mapping class="com.reservation.entity.FilmEntity"/>
        <mapping class="com.reservation.entity.IndividualCabinetEntity"/>
        <mapping class="com.reservation.entity.ReservedTicketEntity"/>
        <mapping class="com.reservation.entity.SeanceEntity"/>
        <mapping class="com.reservation.entity.SeatEntity"/>
        <!--<mapping class="com.reservation.entity.UserEntity"/>-->


    </session-factory>
</hibernate-configuration>